<%= form_for(@user_potential) do |f| %>
  <% if @user_potential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_potential.errors.count, "error") %> prohibited this user_potential from being saved:</h2>

      <ul>
      <% @user_potential.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
