.page-header
  %h1
    %small
      I want to
    =surround '"', '"' do
      %span#do-this="Tackle This"
    %small
      each day for 30 days
= render partial: 'form', locals: { task: @task }

%h1="Your #{Task.display_name_s_long}"
%table.table
  %thead
    %tr
      %th Name
      %th Date Started
      %th
      %th
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.start_date.strftime("%b %d, %Y") if task.start_date.present?
        %td= link_to 'Edit', edit_user_task_path(current_user.id, task)
        %td= link_to 'Destroy', user_task_path(current_user.id, task), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to "New #{Task.display_name_long}", new_user_task_path(current_user.id)